/*-----------全体-----------*/
body{
    background-color: #555;
    margin:0;
    font-size:1rem;
    font-family: serif;
}
main{
    background-color:#FFF;
    max-width:960px;
    margin:0 auto;
    padding:10px;
    color:#000;
}
a{
    color:#000;
}
img{
    display: block;
    max-width: 80%;
    margin: 0 auto;
}
/*-----------セクション共通-----------*/
section h2{
    font-size: 1.5rem;
    padding:0 1rem;
    border-left:double 10px #444;
    border-bottom:1px solid #BBB;
}
section h4{
    font-size: 1.4rem;
}
section h5{
    font-size: 1.2rem;
    margin-bottom: 0;
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-decoration-color: rgba(100,255,100, 0.4);
    text-underline-offset: -0.2em;
    text-decoration-skip-ink: none;
}
.content{
    padding:10px 20px;
    border:#EEE 1px solid;
}
.content p{
    margin-bottom:35px;
}

/*-----------文字装飾-----------*/
.strong{
    font-size: 1.1rem;
    border-bottom: 1px solid #444;
}

/*-----------ナビメニュー-----------*/
header{
/*    display:flex;
    justify-content: space-between;*/
    justify-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
nav{
    background-color: #000;
}
nav ul{
    justify-content: center;
    display:flex;
    margin:0;
    line-height:5rem;
}
nav ul li:hover{
    background-color:#444;
    opacity: 0.5;
}
nav ul li{
    list-style: none;
    border-right: 1px solid #EEE;
/*    transform: skewX(150deg);*/
}
nav ul li:first-child{
    border-left: 1px solid #EEE;
}
nav ul li a{
    display:block;
    color: #EEE;
    padding: 0 3rem;
/*    transform: skewX(-150deg);*/
}

/*-----------プロフィールボックス-----------*/

.table-profile{
    border-collapse:collapse;
}
.table-profile td,.table-profile th{
    border:solid 1px #BBB;
    padding:0.5rem;
}
.profile-title{
    font-size:1.2rem;
    background-color: #000;
}
.profile-summary{
    background-color: aquamarine;
}
